<article class="articulo">		
		<div class="container">
			<div class="row">
				<div class="page-header">
				  	<h1>Titulo de articulo <small></small></h1>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<img src="fotoGrande.png" alt="..." class="img">
					</div>
				</div>
				  	<div class="col-md-7">
				  		<h2><strong class="text-rojo">Precio: Bs. 75000</strong></h2>
				  		<h2>Detalles</h2>
				  		<p>ANILLO MELLING 40564 STD CROMADO</p>
				  		<p>
				  			<strong>Marca:</strong> TRW
				  		</p>
				  		<p>
				  			<strong>Se usa en:</strong> FORD 302 / 351 CHEVROLET 350
				  		</p>
				  		<p>
				  			<form action="" class="form-horizontal">
				  				<div class="form-group">
				  					<div class="col-lg-2 col-xs-4">
				  						<input type="number" class="form-control input-lg" value="1">
				  					</div>
				  					<div class="col-lg-10 col-xs-8">
				  						<a href="#" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span> AGREGAR</a>
				  					</div>
				  				</div>
				  			</form>
				  		</p>
				  		<p>
				  			
				  		</p>
				  	</div>
			</div>



				<div class="row">
				  	<div class="col-md-12">
				  		<div class="page-header">
				  			<h3>Articulos Relacionados<small></small></h3>
						</div>

				  		<div class="carousel slide" id="myCarousel">
						        <div class="carousel-inner">
						            <div class="item active">
						                    <ul class="thumbnails">
						                        <li class="col-sm-3">
						    						<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto10.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto11.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto12.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto13.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                    </ul>
						             </div><!-- /Slide1 --> 
						            
						            <div class="item">
						                    <ul class="thumbnails">
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto4.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto3.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto2.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                    </ul>
						            </div><!-- /Slide2 --> 
						            

						            <div class="item">
						                    <ul class="thumbnails">
						                        <li class="col-sm-3">	
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto5.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto6.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto7.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                        <li class="col-sm-3">
													<div class="fff">
														<div class="thumbnail">
															<a href="#"><img src="repuesto8.png" alt=""></a>
														</div>
														<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
						                            </div>
						                        </li>
						                    </ul>
						            </div><!-- /Slide3 --> 
        						</div>

								   <nav>
										<ul class="control-box pager">
											<li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
											<li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
										</ul>
									</nav>
								   <!-- /.control-box -->   
                              
   							</div><!-- /#myCarousel -->
					</div>
				</div>
			</div>
</article>