<div class="portada">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
 
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
		<div class="item active">
			  <div class="w1">
				<div class="container">					
					<article class="col-md-8 col-md-offset-2">
						<div class="thumbnail">
						<h1 class="text-center">TITULO DEL PRODUCTO 324VR</h1>
							<img src="portada/r1.png" alt="">
						</div>
					</article>
					
				</div>
			</div>
		</div>
	    <div class="item">
		      	<div class="w1">
					<div class="container">						
						<article class="col-md-8 col-md-offset-2">
							<div class="thumbnail">
								<h1 class="text-center">TITULO DEL PRODUCTO 324VR</h1>
								<img src="portada/r7.png" alt="">
							</div>
						</article>
						
					</div>
				</div>
	    </div>
	    <div class="item">
	      	<div class="w1">
				<div class="container">					
					<article class="col-md-8 col-md-offset-2">
						<div class="thumbnail">
						<h1 class="text-center">TITULO DEL PRODUCTO 324VR</h1>
							<img src="portada/r4.png" alt="">
						</div>
					</article>
					
				</div>
			</div>
	    </div>
  	</div>
 		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div> <!-- Carousel -->

</div>

<div class="articulos container">
	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail">
				<img src="portada/r5.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h4 class="text-center"><a href="">TITULO DEL ARTICULO</a></h4>
		</div>
		<div class="col-md-6">
			<div class="thumbnail">
				<img src="portada/r3.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h4 class="text-center"><a href="">TITULO DEL ARTICULO</a></h4>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="repuesto.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
		</div>
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="repuesto2.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
		</div>
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="repuesto3.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
		</div>
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="repuesto4.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
		</div>
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="repuesto5.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
		</div>
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="repuesto6.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
		</div>
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="repuesto7.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
		</div>		
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="repuesto8.png" alt="">
				<a href=""><div class="detalles"><h3>Ver</h3></div></a>
			</div>
			<h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
		</div>
	</div>

</div>