<div class="container">
		<div class="row">
			<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>

		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto12.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto2.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto3.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto4.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto5.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto6.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto7.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto8.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto9.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto10.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>
		 	<div class="producto col-md-3 col-sm-6">
			    <div class="thumbnail">
			      		<img src="repuesto11.png" alt="...">
			      		<a href="#" class="">
			      			<div class="detalles">
			      				<h3>VER</h3>
			      			</div>
			      		</a>			      	
			    </div>
			    <h5 class="text-center"><a href="">TITULO DEL ARTICULO</a></h5>
			    <h5 class="text-center">Bs. 75000</h5>
		 	</div>

		</div>
	</div>