<footer>
	<div class="container-fluid main">
		<div class="col-md-4">
			<div class="contacto"><h3>Contacto Oficina:</h3></div>
			<p>
				<div><span class="glyphicon glyphicon-phone-alt"></span> 0235-3410477 / 3416176</div>
				<div>gerente.sonia@repuestoslosgallegos.com.ve</div>
				<div>compras.daniel@repuestoslosgallegos.com.ve</div>
			</p>
			<h3>Contacto Ventas</h3>
			<div><strong>Gregory Rengifo:</strong></div>
			<p>
				<div><span class="glyphicon glyphicon-phone-alt"></span> Tlf. 0416-6659878</div>
				<div>ventas.gregory@repuestoslosgallegos.com.ve</div>
			</p>
			<div><strong>Anibal Ortega:</strong></div>
			<p>
				<div><span class="glyphicon glyphicon-phone-alt"></span> Tlf. 0416-234512</div>
				<div>ventas.anibal@repuestoslosgallegos.com.ve</div>
			</p>
			<div><strong>Francisco Farias:</strong></div>
			<p>
				<div><span class="glyphicon glyphicon-phone-alt"></span> Tlf. 0424-3345643</div>
				<div>ventas.farias@repuestoslosgallegos.com.ve</div>
			</p>
		</div>
		
		<div class="col-md-4">
			<div class="direccion"><h3>Dirección</h3></div>
			<p>Calle Real salida hacia tucupido, local s/n al lado de Distribuidora de Lubricantes Los Gallegos</p>
			<p>Ciudad Valle de la Pascua</p>
			<p>Estado Guárico</p>
			<p>Municipio: Leonardo Infante</p>
		</div>
		
		<div class="col-md-4">
			<div class="mapa"><h3>Mapa</h3><div id="googleMap" style="width:100%;height:300px;"></div></div>
			
		</div>
		
		<div class="col-md-12">
			<p class="text-center">REPUESTOS LOS GALLEGOS C.A</p>
		</div>
	</div>
</footer>