<article class="categorias">		
		<div class="container">
			<ul id="menu-vertical" class="nav nav-pills nav-justified">
	    		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Motor</a>
	    			<ul class="dropdown-menu">
	    				<li><a href="#">sub</a></li>
	    				<li><a href="#">sub</a></li>
	    				<li><a href="#">sub</a></li>
	    			</ul>
	    		</li>
	    		<li><a href="#">Filtros</a></li>
	    		<li><a href="#">Suspencion</a></li>
	    		<li><a href="#">Frenos</a></li>
	    		<li><a href="#">Embragues</a></li>
	    		<li><a href="#">Electricas</a></li>
	    		<li><a href="#">Adictivos</a></li>
	    		<li><a href="#">Micelanios</a></li>
	    		<li><a href="#">Rodamientos</a></li>
	    		<li><a href="#">Bambas</a></li>
			</ul>		
			
			<form class="well">
			        	<input type="text" class="form-control input-lg buscador" placeholder="Buscar...">
			</form>
		</div>
</article>